/* Палитра
ФОНЫ
Цвет шапки фона: #FFFFFF 
Доп цвет заднего фона: #F5F4FA
Цвет подвала: #2F303A
ТЕКСТ
Основной цвет: #757575
Дополнительный цвет: #2196F3
Дополнительный цвет: #212121;
*/
body{
    background-color:#FFFFFF;
    color: #757575;
}
.logo{
    color: #212121;
}
ul{
    list-style: none;
}
.hide-text{
}
.company-name-word{
    color:#2196F3;
}
.order-section,
.footer-section{
  background-color: #2F303A;
}
.main-text-section{
  color:  #FFFFFF;
}
.team-section{
    background-color: #F5F4FA;
;
}