/* Палитра
ФОНЫ
Цвет шапки фона: #FFFFFF 
Доп цвет заднего фона: #F5F4FA
Цвет подвала: #2F303A
ТЕКСТ
Основной цвет: #757575
Дополнительный цвет: #2196F3
Дополнительный цвет: #212121
*/
:root{
    /* Цвета текста */
    --primary-text-color: #757575;
    --additional-text-color: #212121;
    --hover-text-color: #2196F3; 
    /* Цвета фона */
    --primary-background-color: #FFFFFF;
    --additional-background-color: #F5F4FA;
    --footer-background-color:#2F303A;

}
body{
    background-color:var(--primary-background-color);
    color: var(--primary-text-color);;
}
/* Шапка */
.logo{
    color: var(--additional-text-color);
}
.site-nav .nav-link{
    color: var(--additional-text-color);
}
.contacts-nav .contacts-link{
    color:var(--primary-text-color);
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus,
.contacts-nav .contacts-link:hover,
.contacts-nav .contacts-link:focus,
.contacts-nav .address-link:hover,
.contacts-nav .address-link:focus
{
    color:var(--hover-text-color);
}
button{
background-color:var(--additional-background-color);
color: var(--additional-text-color);
border: none;
}
button:hover,
button:focus{
    background-color:var(--hover-text-color);
    color:var(--primary-background-color);
}
.section-list
{
    list-style: none;
}
.section-link{
    text-decoration: none;
}
.section-title{
    color:var(--additional-text-color);
}
.hide-text{
}
.company-name-word{
    color:#2196F3;
}
.order-section,
.footer-section{
    background-color: var(--footer-background-color);
}
.main-text-section{
    color:  var(--primary-background-color);
}
.team-section{
    background-color: var(--additional-background-color);
}
.address-link{
    color:  var(--primary-background-color);
}